*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.7;
  font-weight: normal;
  color: #676d79;
  font-family: 'Source Sans Pro',
    Arial,
    sans-serif;
  background-color: #fff;


  &:after {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
    -webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
    -ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
    transition: opacity 1.5s ease-in-out, visibility 1.5s;
    content: '';
    background-image: linear-gradient(to right bottom, rgba(#000, 0.3), rgba(#000, 0.3)),
      url(../img/img-5.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    visibility: visible;
    opacity: 1;
  }
}




.scrolled {
  position: relative;

  transition: all 2s;


  &:after {

    content: '';
    background-image: linear-gradient(to right bottom, rgba(#000, 0.3), rgba(#000, 0.3)),
      url(../img/img-4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    visibility: visible;
    opacity: 1;
  }
}


.container {
  position: relative;
  z-index: 8;
  width: 35%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4em;

}


h1,
h2,
h3,
h4,
p {
  display: block;
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

.heading-1 {
  font-size: 4rem;
  color: #fff;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: #fff;
    bottom: -0.2em;

    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 50%;

  }
}


.heading-2 {
  font-size: 2rem;
  color: #676d79;
  position: relative;
  margin-bottom: 4em;

  &::after {
    content: "";
    position: absolute;
    background-color: #676d79;
    bottom: -0.8em;

    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 50%;

  }
}

.btn-primary {

  background-color: #8cd1a8;
  color: #fff;
  padding: 0.7em 3.5em;
  text-decoration: none;
  font-size: 1.2em;
  position: relative;


}