*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.7;
  font-weight: normal;
  color: #676d79;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  background-color: #fff;
}

body:after {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  -webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
  transition: opacity 1.5s ease-in-out, visibility 1.5s;
  content: '';
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/img-5.jpg);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/img-5.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  visibility: visible;
  opacity: 1;
}

.scrolled {
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.scrolled:after {
  content: '';
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/img-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/img-4.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  visibility: visible;
  opacity: 1;
}

.container {
  position: relative;
  z-index: 8;
  width: 35%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4em;
}

h1,
h2,
h3,
h4,
p {
  display: block;
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

.heading-1 {
  font-size: 4rem;
  color: #fff;
  position: relative;
}

.heading-1::after {
  content: "";
  position: absolute;
  background-color: #fff;
  bottom: -0.2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 50%;
}

.heading-2 {
  font-size: 2rem;
  color: #676d79;
  position: relative;
  margin-bottom: 4em;
}

.heading-2::after {
  content: "";
  position: absolute;
  background-color: #676d79;
  bottom: -0.8em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 50%;
}

.btn-primary {
  background-color: #8cd1a8;
  color: #fff;
  padding: 0.7em 3.5em;
  text-decoration: none;
  font-size: 1.2em;
  position: relative;
}

.header {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.header p {
  font-weight: bold;
  letter-spacing: 3px;
}

.wrapper {
  background-color: #fff;
  padding: 2em;
}

.wrapper-begin, .wrapper-about, .wrapper-stuff, .wrapper-notice {
  padding: 2em;
  margin-bottom: 4em;
  position: relative;
}

.wrapper-begin::after, .wrapper-about::after, .wrapper-stuff::after, .wrapper-notice::after {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #6c757d;
}

.wrapper-about, .wrapper-stuff, .wrapper-notice {
  height: 90vh;
}

.wrapper-stuff {
  height: 110vh;
}

.wrapper-stuff h2 {
  margin-bottom: 2em;
}

.wrapper-stuff p {
  margin-bottom: 2em;
}

.wrapper-stuff-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  height: 50%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  position: relative;
}

.wrapper-stuff-grid::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000;
}

.wrapper-stuff-grid::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1.5px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000;
}

.wrapper-stuff-grid i {
  font-size: 3rem;
  color: #000;
  margin-bottom: 0.5em;
}

.wrapper .down-row {
  color: #caced1;
  font-size: 3rem;
  display: block;
  margin-top: 2em;
}

.wrapper-contact a {
  display: inline-block;
  margin-top: 1em;
}

.wrapper .form {
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 0.5fr 1.5fr;
      grid-template-rows: 0.5fr 1.5fr;
  grid-gap: 1em;
}

.wrapper .form input {
  padding: 1em;
}

.wrapper .form .large {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  width: 100%;
}

.wrapper .form .large textarea {
  width: 92%;
  padding: 1em;
}
/*# sourceMappingURL=main.css.map */